main {
  display: flex;
  /* font-family: 'Julius Sans One', sans-serif; */
  font-family: 'Righteous', cursive;
  user-select: none;
}

.left-side {
  width: 65vw;
}

.right-side {
  width: 35vw;
}

.low-usage {
  /* color: green; */
  color: rgb(0, 226, 0);
}

.color-side {
  position: absolute;
  left: 45vw;
  width: 15%;
  border-left: 40vw solid transparent;
  border-bottom: 100vh solid #334f68a8;
  z-index: -1;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

img {
  height: 1.75vw;
  padding-left: 1vw;
}

.temperature-wrapper {
  width: 18.5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 11.5vw;
  left: 25vw;
  z-index: 10;
  overflow: hidden;
}
.reset {
  position: relative;
  top: 11vw;
  letter-spacing: 7px;
  left: 25vw;
  z-index: 1;
}

.left-side span {
  font-size: 7vw;
  height: 5vw;
}

#current-temperature {
  text-align: center;
  position: relative;
  top: 15vw;
  left: 4vw;
  font-size: 32vw;
}

.switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1vw;
  right: 1vw;
  z-index: 10;
}

.switch-wrapper p {
  padding-right: 0.5vw;
}

.city-wrapper {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}

.city-temperature {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.75vw;
  padding-bottom: 0.5vw;
  font-size: 1vw;
}

select {
  border: none;
  font-family: inherit;
  font-size: 3vw;
  background-color: transparent;
}
/* SWITCH  */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #334f68;
}

input:focus + .slider {
  box-shadow: 0 0 1px #334f68;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*  */